/* Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: black;
    border-bottom: 1px solid white;
}

.product_list {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    gap: 40px;
    position: relative;
    left: 90px;
    color: white;
}

.logo_name {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    position: relative;
    left: -50px;    
    color: white;
}
.product_home {
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.background_img{
    position: absolute;
    width: 100%;
    height: 500px;
}
.login_btn{
    width: 90px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: white;
}

/* Blog Content */
.whole_blog{
    margin-top: 25px;
}

.blog_content_imaged{
    position: relative;
    right: 180px;
    display: flex;
    justify-content: center;
}
.blog_content_image{
    width: 800px;
    height: 350px;
    border-radius: 10px;
}
.blog_heading{
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    width: 900px;
}
.blog_para{
    width: 1000px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}
b{
    font-family: "Vidaloka", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 27px;
    position: relative;
    right: 50px;
}
.blog_headingd{
    display: flex;
    justify-content: center;
    position: relative;
    right: 130px;
}
.blog_parad{
    display: flex;
    justify-content: center;
    position: relative;
    right: 20px;
}
/* footer section */
.footer{
    position: relative;
    top: 300px;
    width: 100%;
    height: 400px;
    background-color: black;
}
.contact_footer{
    color: white;
    font-size: 25px;
}
.section_header{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
#content_footer_section{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    list-style: none;
}
.social_media_icon{
    color: white;
    font-size: 34px;
}
.footer_contaier{
    display: flex;
    justify-content: center;
    gap: 500px;
    position: relative;
    top: 50px;
}
.section_footer{
    position: relative;
    left: -400px;
}
.copywrite_icon{
    font-size: 25px;
}
.copywrite_para{
    color: white;
    position: relative;
    top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;

}
.copywrite{
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#copywrite_icon{
    color: white;
    font-size: 15px;
    position: relative;
    top: 40px;
}
.sub_image_blog{
    width: 500px;
    height: 300px; 
    border-radius: 5px;
}
.sidenav{
    display: none;
}
.openbtn{
    display: none;
}

/* comment section */
.comment_heading{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
.comment_section{
    width: 400px;
    height: 280px;
    border: 2px solid black;
    position: relative;
    top: 50px;
    left: 35%;
    border-radius: 5px;
    
}
.comment_name_input{
    width: 200px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 2px;
    outline: none;
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.comment_input{
    width: 300px;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    outline: none;
    position: relative;
    left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.submit{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 40px;
    left: 20px;
    
}

/* responsive design for mobile */
@media only screen and (max-width : 430px){
    /* header */
    .logo_name{
        font-size: 25px;
        position: relative;
        left: 20px;
        
    }
    .product_list{
        display: none;
    }
    .login_btn{
        width: 80px;
        height: 40px;
        font-size: 20px;

    }
    .header{
        gap: 120px;
    }
    
    .blog_content_image{
        position: relative;
        left: 170px;
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .blog_heading{
        font-size: 23px;
        width: 330px;
        position: relative;
        left: 130px;
    }
    .blog_parad{
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    .blog_para{
        width: 280px;
        font-size: 14px;
        width: 300px;
    }
    b{
        position: relative;
        left: 3px;
        font-size: 16px;
    }
      /* Footer section */
      #email_footer_logo{
        font-size: 24px;
     }    
     #cellphone{
        font-size: 24px;
     }
     .footer_contact_section{
        position: relative;
        
     }
     .section_footer{
        position: relative;
        left: 30px;
     } 
     .section_header{
        font-size: 18px;
     } 
     #content_footer_section{
        font-size: 15px;
     }   
     #media{
        font-size: 26px;
        position: relative;
        left: 200px;
     }  
     .footer_contaier{
        position: relative;
        right: 100px; 
        gap: 10px;
     }
     .sidenav{
        display: block;
     }
     .sidenav {
      
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
        z-index: 1;
     }

     .sidenav{
        display: block;
     }
     .sidenav {
      
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
        z-index: 1;
     }


/* Links inside the side navigation */
    .sidenav a {
        padding: 15px 20px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    /* Change color on hover */
    .sidenav a:hover {
        background-color: #575757;
    }
    
    /* Close button (X) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    
    /* The button to open the side nav */
    .openbtn {
        display: block;
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        border: none;
        font-size: 24px;
        position: absolute;
        right: 310px;
        top: 12px;
    }
    .sub_image_blog{
        width: 250px;
        height: 150px;
    }
    /* Comment section for mobile */
    .comment_heading{
        font-size: 17px;
    }
    .comment_section{
        width: 250px;

        position: relative;
        display: block;
        left: 50px;

    }
    .comment_name_input{
        font-size: 15px;
        width: 150px;
    }
    .comment_input{
        font-size: 15px;
        width: 150px;
    }

    


}